.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapperEs{
    width: 70%;
    display: flex;
    flex-flow: column;
    background-color: rgba(240, 248, 255, 0.204);
    margin-top: 5%;
    border: 2px solid green;
    border-radius: 1rem;
    padding: 2%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.reserves{
    display: flex;
}
.reserves div {
    padding: 2%;
}

.dataText{
    color: rgb(56, 207, 159);
}
.placeName{
    align-self: center;
}
.btnPay{

    color: rgb(56, 207, 159);
    border: 1px solid rgb(87, 232, 179);
    border-radius: 1rem;
    margin: 3%;
    padding: 1%;
    
    font-size: .7rem;
}

.btnPay:hover{
    color: rgb(246, 238, 238);
    border: 1px solid transparent;
    background-color: rgb(81, 165, 123);
}

.btnCancel{
    color: rgb(232, 87, 87);
    border: 1px solid rgb(232, 87, 87);
    border-radius: 1rem;
    margin: 3%;
    padding: 1%;

    font-size: .7rem;
}
.btnCancel:hover{
    color: rgb(246, 238, 238);
    border: 1px solid rgb(42, 9, 9);
    background-color: rgb(232, 87, 87);
}