.wrapper{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3%;
}
.filters{
    width: 20%;
    display: flex;
    min-width: 50px;
    background-color: none;
}
.placesWrap{
   width: 80%;
   display: flex;
   flex-flow: row wrap;
   align-items: center;
   justify-content: center;

}