.wrapper{
    margin: 0%;
    width: 100%;
}
.divForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgInit{
transform: scale(1);
width: 150%;
max-height:500px;
display: flex;
}