.wrapper{
    margin: 0%;
    width: 130%;
}
.divForm{
    border: 1px solid black;
    padding: 10%;
    margin: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgInit{
transform: scale(1);
width: 150%;
max-height:500px;
display: flex;
}